.*
!/.git
!/.gitignore
!/.idea
/configs/*
!/configs/server.default.xml
/backup/*
/logs/
/ManiaControl.log
/ManiaControl.pid
/plugins/
!/plugins/MCTeam/
/libs/
!/libs/curl-easy
!/libs/Evenement
!/libs/FML
!/libs/Maniaplanet
!/libs/React
!/libs/Symfony